/* 基础样式定义 */
body,
html,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  border: none;
  font-size: 0;
}
a {
  color: #71777d;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-family: "YouYuan", "Microsoft YaHei";
  font-size:12px;
}
/*icon定义*/
/* iconfont */
@font-face {
  font-family: 'iconfont';
  src: url('/static/common/plugins/iconfont/iconfont.eot');
  src: url('/static/common/plugins/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('/static/common/plugins/iconfont/iconfont.woff') format('woff'), url('/static/common/plugins/iconfont/iconfont.ttf') format('truetype'), url('/static/common/plugins/iconfont/iconfont.svg#iconfont') format('svg');

  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont";
  display: inline-block;
}
@media screen and (max-width: 375px) {
  .iconfont {
    font-size: 24px;
    font-style: normal;
  }
}
@media screen and (min-width: 375px) {
  .iconfont {
    font-size: 26px;
    font-style: normal;
  }
}
.clearfix {
  *zoom: 1;
  /*overflow:hidden*/
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-weight: normal;
}
input,textarea {
  /* border: none; */
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.text_c {
  text-align: center;
}
.text_l {
  text-align: left;
}
.wrap_960 {
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.wrap_960_ {
  width: 960px;
  margin: 0 auto;
}
.wrap_780 {
  width: 780px;
  margin: 0 auto;
  text-align: center;
}
.box_bor {
  box-sizing: border-box;
}
.none {
  display: none !important;
}
.input_num_n input[type=number] {
  -moz-appearance: textfield;
}
.input_num_n input[type=number]::-webkit-inner-spin-button,
.input_num_n input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/*自定义样式*/
body>div{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;
}
header{
    width:100%;
}
header>div{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    justify-content: space-between;
}
footer{
    /* position: fixed; */
    /* bottom:0; */
    width:100%;
    background:url(../img/0.jpg) no-repeat;
    background-size: 100% 100%;
    color:#fff;
    font-size:0.5rem;
}
div.main{
    flex-grow: 1;
}
div.swiper-container{
    width:100%;
}
div.swiper-container img{
    width:100%;
}
div.menu>ul{
    display:flex;

}
ul.out>li{
    padding:30px 0;
    margin-right: 60px;
    position: relative;
    height:18px;
}

div.menu>ul.out>li a{
    color:#565656;
    font-size:18px;
    line-height: 18px;
}
div.menu>ul.out>li a:hover{
    color:#1487c9;

}
div.img{
    width: 55px;
    margin:auto 0;
}
div.img img{
    width:100%;
}
ul.in{
    width:110px;
    display:none;
    background:#f5f5f5;
    padding:7px;
    position: absolute;
    top:70px;
    font-size: 13px;
    transform: scale(0.93);
    z-index: 999;
    padding-top: 15px;
}
ul.in li{
    margin-bottom: 12px;
}
ul.out>li:nth-child(3):hover ul.in{
    display:block;
}
/*2*/
div.contact{
    display:flex;
    width:900px;
    margin:0 auto;
    padding: 5.5rem 0 5.5rem 152px;
    border-bottom: 1px dotted #ccc;
}
div.address{
    width:80rem;
    margin:3.34rem auto;
}
div.download{
    display:flex;
}
div.download div{
    width:180px;
    margin-right:3.66rem;
    text-align: center;
}
div.phone>div{
    margin-bottom: 20px;
}
div.img1{
    
    position: relative;
}
div.img1 i{
    color:#fff;
    font-size:2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
div.img1 img{
    width:100%;
}
div.item>div:hover{
    background:#f8f8f8;
}
div.item div.img1:hover{
    opacity: 0.7;
}
div.item div.img1:hover i{
    display:block;
    opacity: 1;
}
div.product{
    width:100%;
    margin:2.5rem auto 112px;
}
div.product h3{
    text-align: center;
    color:#1487c9;
}
div.item{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:1200px;
}
div.item>div{
    width:374px;
    margin-right:34px;
}
div.item>div:last-child{
    margin-right:0;
}
 div.title{
    margin: 68px 0;
    font-size: 28px;
 }
 div.company{
     width:100%;
     background:url(../img/1.jpg) no-repeat;
     background-size: 100% 100%;
     padding:6.166rem 0;
     color:#fff;
     font-size:1.5rem;
 }
 .max{
     transform: scale(1.8);
     
 }
 .min{
     width:100%;
 }
 
 div.company>div{
     display:flex;
     width:1200px;
     margin:0 auto;
 }
 div.company-introduce{
     margin:0 60px;
     position: relative;
 }
 div.img3{
     margin-right:1.17rem;
     /* width:544px; */
     width:1833px;
 }
 div.img3 img{
     width:100%;
 }
 div.company-introduce a{
     color:#fff;
     display:inline-block;
     padding:0.3rem 0.5rem;
     border:1px solid #fff;
     border-radius:30px;
     position: absolute;
     bottom:1.34rem;
     font-size: 22px;
 }
 div.company-introduce p{
     font-size: 15px;
     line-height: 30px;
 }
 div.company-introduce h3{
     text-align: left;
     margin-bottom: 20px;
     font-size: 26px;
 }



 div.img4{
    
    position: relative;
}
div.img4 i{
    color:#fff;
    font-size:2rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:none;
}
div.img4 img{
    width:100%;
}
div.item2>div:hover{
    background:#f8f8f8;
}
div.item2 div.img4:hover{
    opacity: 0.7;
}
div.item2 div.img4:hover i{
    display:block;
    opacity: 1;
}
div.trends{
    width:100%;
    margin:0 auto 9.166rem;
}
div.trends h3{
    text-align: center;
    color:#1487c9;
    
}
div.trends div.title{
    padding: 68px 0 58px;
    font-size: 28px;
    margin:0 0 10px;
    background:#f5f5f5;
 }
div.item2{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:1200px;
}
div.item2>div{
    width:389px;
    margin-right:17px;
}
div.item2>div:last-child{
    margin-right:0;
}
 div.trend>h3{
    margin: 68px 0;
    font-size: 28px;
 }
 div.introduce{
     padding:28px;
 }
 div.introduce h3{
    padding: 15px 0;
    border-bottom: 1px dotted #ccc;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 div.introduce p{
     padding:5px 0;
 }
/*2倍已改*/
div.more{
    margin: 50px 0 36px 0;
    text-align: center;
}
div.more a{
    color:#ccc;
     display:inline-block;
     padding:0.6rem 1rem;
     border:1px solid #ccc;
     border-radius:30px;
     margin:0 auto;
}
div.form>h3{
    margin:72px 0 72px;
    text-align: center;
    color:#1487c9;
    font-size: 28px;
}
form{
    margin:0 9.75rem 0 9.17rem 0;
}
div.button{
    margin:4.33rem auto;
    width:39.33rem;
}
div.form{
    margin-bottom: 6rem;
}
form input{
    width: 430px;
    padding: 10px 20px;
    position: relative;
}
form input:first-child{
    left:-10px;
    border: 1px solid #aaa;
}
form input:nth-child(2){
    
    right:-12px;
}
div.form>div{
    width:975px;
    margin:0 auto;
    text-align: center;
}
textarea{
    width: 100%;
    margin: 34px 0;
    padding: 10px;
    box-sizing: border-box;
}
a{
    color:#fff;
}
form input:nth-child(4){
    width:475px;
    line-height: 50px;
    background:#1487c9;
    color: #fff;
    border: none;
    padding:0;
}
div.address p{
    text-align: center;
    margin-bottom: 10px;
}
div.address div{
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}
div.swiper-container{
    position: relative;
}
div.msg{
    width:640px;
    position: absolute;
    top:136px;
    left:375px;
    color:#fff;
    z-index:999;
}
div.msg h2{
    font-size: 58px;
    text-align: left;
}
div.msg p{
    font-size:24px;
    margin:20px 0;
}
div.msg a{
    display:inline-block;
    padding:10px 30px;
    border:1px solid #ccc;
    border-radius: 50px;
    color:#fff;
}




@media screen and (min-width:321px) and (max-width:375px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width:376px) and (max-width:414px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width:415px) and (max-width:639px) {
    html {
        font-size: 15px;
    }
}
@media screen and (min-width:640px)  {
    html {
        font-size: 20px;
    }
}
